.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding: 75px;
}

.content{
  background-color: #fff;
  padding: 20px;
}
.content-image img{
  width: 100%;
  height: 240px;
  border-radius: 10px;
}

.content-image img:hover{
  transform: scale(1.06);
}

.content-title h3{
  font-weight: 400px;
  font-family: 'Centra', sans-serif !important;
}
.content-title h3:hover{
 color: blue;
}
.Content-Date{
  float: left;
  color: #b6aeae;
}

.newsblog{
  text-justify: distribute-all-lines;
  text-align: left;
}

.card {
  max-width: 300px;
  border-radius: 0.5rem;
  background-color: #fff;
  justify-content: space-between;
  margin-left: 10px;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border-radius: 40px;
  
}

.card a {
  text-decoration: none
}

.content {
  padding: 1.1rem;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 240px;
  
}

.title {
  color: #111827;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}
.title img{
  width: 50px;
  height: 50px;
  margin-top: -40px;
  border-radius: 50%;
}
.desc {
  margin-top: 0.5rem;
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.action {
  display: inline-flex;
  margin-top: 1rem;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  align-items: center;
  gap: 0.25rem;
  background-color: #2563EB;
  padding: 4px 8px;
  border-radius: 4px;
}

.action span {
  transition: .3s ease;
}

.action:hover span {
  transform: translateX(4px);
}



.content-carousel{
  background-color: #fff;
  padding: 40px 0 70px 30px;
}

